<!-- <div class="navbar navbar-expand-sm navbar" style= "background-color: #211b19;" ><div  class="container-fluid">

    <header class="border-b border-solid border-border" class="text-info ">
  
  <h1 style="color:white">Time To Travel </h1>
  
  </header>
</div>
  
  <div>
  
    <nav >
  
      <div class="d-flex flex-row-reverse">
  
      <ul>
  
        <div class="navbar-nav me-auto mb-2 mb-lg-0" >
  
      <li>
  
      <div routerLink="/login"   mdbbtn="" size="sm" class="btn btn-outline-light mr-1" routerLinkActive="active">Login/Register</div>
  
      </li>
  
  
  
      <li>
  
      <div routerLink="contact"  routerLinkActive="active" class="btn btn-outline-light mr-1" >ContactUs</div>
  
      </li>
  
  
  
      <div routerLink="/about" routerLinkActive="active" class="btn btn-outline-light mr-1">AboutUs</div>
  
  
  
      <div routerLink="/book-now" routerLinkActive="active" class="btn btn-outline-light mr-1" >BookNow</div>
  
  
  
  
  
    </div>
  
    </ul>
  
  </div>
  
    </nav>
  
  </div> -->
  
  
<!-- <div  class="image">
    <img src="https://cdn.pixabay.com/photo/2017/09/04/16/58/passport-2714675_1280.jpg" alt="" width="1232" height="525">
    
</div> -->
<!-- <nav>
  <a routerLink="home">HOME</a>
  <a routerLink="login">LOGIN</a>
  <a href="#">EAT</a>
  <a href="#">PLAY</a>
  <a href="#">BOOKINGS</a>
  <div id="indicator"></div>
</nav>
<div class="adjust">
<img src="https://img.freepik.com/premium-vector/travel-airplane-logo-text-design-inspiration_108832-51.jpg"
width="1225" height="600"></div>
<router-outlet></router-outlet> -->
<!-- <nav>
  <a routerLink="home">HOME</a>
  <a routerLink="login">LOGIN</a>
  <a href="#">EAT</a>
  <a href="#">PLAY</a>
  <a href="#">BOOKINGS</a>
  <div id="indicator"></div>
</nav> -->


<div class="adjust">
  <img src="https://img.freepik.com/premium-vector/travel-airplane-logo-text-design-inspiration_108832-51.jpg"
  width="1225" height="600"></div>
  <nav>
    <a routerLink="place">PLACES</a>
    <a routerLink="eats">EAT</a>
    <a routerLink="play">PLAY</a>
    <a routerLink="book">BOOKINGS</a>
    <a routerLink="login">LOGIN</a>
    <div id="indicator"></div>
  </nav>
